@import url("https://fonts.googleapis.com/css?family=Noto+Sans:700,500,600");

.button {
  background: linear-gradient(108.43deg, 
#fc0441 0%, 
#f62da8 100%);
  border-radius: 24px;
  display: flex;
  height: 48px;
  width: 144px;
}

.label {
  height: 24px;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 42px;
  margin-top: 16px;
  text-align: center;
  white-space: nowrap;
  width: 62px;
}